$mainBack: #fff;
$toggler:black;

$sectionTitle:#4E4E4E;
$sectionComment:#7C7C7C;
$sectionDest:#5C5C5C;

$footerBack:#000000;
$footerTitle:#FEFEFE;
$footerComment:#B9B9B9;

$toggleItemBack:#F5F5F5;
$toggleHoverBack: #E5E5E5;

$navItemText:#4E4E4E;
$navActiveText:#57A4A4;

